<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find irobot_create_description)/urdf/common_properties.urdf.xacro"/>

  <xacro:macro name="ultrasonic_sensor"
               params="name gazebo namespace parent:=base_link
                       update_rate:=10.0
                       min_range:=0.02 max_range:=2.0
                       fov:=0.5 
                       visualize:=true *origin">

    <xacro:property name="link_name" value="ultrasonic_${name}"/>

    <joint name="${link_name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${link_name}"/>
    </joint>

    <link name="${link_name}">
      <xacro:inertial_dummy/>
      <visual>
        <geometry>
            <cylinder radius="0.01" length="0.01"/>
        </geometry>
        <material name="dark_gray"/>
      </visual>
      <collision>
        <geometry>
            <cylinder radius="0.01" length="0.01"/>
        </geometry>
      </collision>
    </link>

    <gazebo reference="${link_name}_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="${link_name}">
      <sensor type="gpu_lidar" name="${link_name}_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>
        <topic>ultrasonic_${name}/scan</topic>
        
        <lidar>
          <scan>
            <horizontal>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </horizontal>
            <vertical>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
        </lidar>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>