version: '3.3'

services:

  sense:
    build:
      context: ../src/sense
    container_name: charlie_sense_physical
    privileged: true
    network_mode: host
    restart: unless-stopped
    devices: 
      - "/dev/video0:/dev/video0"
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - PYTHONUNBUFFERED=1
    volumes:
      - /tmp/argus_socket:/tmp/argus_socket
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../src/sense/:/home/ubuntu/sense_ws/
      - ../models/:/home/ubuntu/models/
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G
    stdin_open: true
    tty: true
    command: python3 sense_node.py

  plan:
    build:
      context: ../src/plan
    container_name: charlie_plan_physical
    network_mode: host
    restart: unless-stopped
    depends_on:
      - sense
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - PYTHONUNBUFFERED=1
    volumes:
      - ../src/plan/:/home/ubuntu/plan_ws/
    stdin_open: true
    tty: true
    command: python3 plan_node.py

  act:
    build:
      context: ../src/act
    container_name: charlie_act_physical
    network_mode: host
    restart: unless-stopped
    depends_on:
      - sense
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - PYTHONUNBUFFERED=1
    volumes:
      - ../src/act/:/home/ubuntu/act_ws/
    stdin_open: true
    tty: true
    command: python3 action_node.py
