services:
  ros2-sim:
    platform: linux/amd64
    build: .
    container_name: ros2_jazzy_sim_git
    ports:
      - "8080:80"
    shm_size: '2gb'
    environment:
      - VNC_PASSWORD=password
      - QT_X11_NO_MITSHM=1
    volumes:
      - ../src/:/home/ubuntu/ros2_ws/src/
      - ../models:/home/ubuntu/ros2_ws/models
    security_opt:
      - seccomp=unconfined
    stdin_open: true
    tty: true
