services:
  ros2-sim:
    platform: linux/amd64
    build: .
    container_name: ros2_jazzy_sim_git
    ports:
      - "8080:80"
    shm_size: '2gb'
    environment:
      - VNC_PASSWORD=password
      - QT_X11_NO_MITSHM=1
    volumes:
      # - ../ros2/src:/home/ubuntu/ros2_ws/src/
      - ../ros2_create3_sim/:/home/ubuntu/ros2_ws/
    security_opt:
      - seccomp=unconfined
    stdin_open: true
    tty: true
